# Hugo default output directory
/public

# Hugo's place for Generated SCSS
resources/_gen/*

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

# Node stuff
node_modules