<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Permissions-Policy" content="interest-cohort=()"/>
  {{ block "head/resource-hints" . }}{{ partial "head/resource-hints.html" . }}{{ end }}
  {{ block "head/stylesheet" . }}{{ partial "head/stylesheet.html" . }}{{ end }}
  {{ block "head/seo" . }}{{ partial "head/seo.html" . }}{{ end }}
  {{ block "head/favicons" . }}{{ partial "head/favicons.html" . }}{{ end }}
  {{ block "head/script-header" . }}{{ partial "head/script-header.html" . }}{{ end }}

  <script async
  src="https://widget.kapa.ai/kapa-widget.bundle.js"
  data-website-id="55b09629-230a-489b-9b76-98ae23ec0d8d"
  data-project-name="Owncast"
  data-project-color="#6544e9"
  data-project-logo="https://avatars.githubusercontent.com/u/69942503?s=280&v=4"
  data-button-hide="true"
  data-modal-title="Documentation Search"
  data-modal-ask-ai-input-placeholder="Search documentation..."
  data-modal-search-input-placeholder="Search documentation..."
  data-modal-image-hide="true"
  data-button-text="Search Documentation"
  data-search-mode-enabled="true"
  data-search-mode-default="false"
  data-modal-override-open-class="is-search"
  data-modal-body-bg-color="#b6b3c6"
  data-modal-header-bg-color="#5d5f72"
  data-modal-header-padding-top="4px"
  data-modal-header-padding-bottom="4px"
  data-modal-header-padding-bottom="2px"
  data-modal-title-color="#ffffff"
  data-switch-bg-color="transparent"
  ></script>
</head>