<footer class="footer text-muted">
  <div class="container">
    <div class="row float-right">
      <div class="col-lg">
        {{ range .Site.Menus.footer -}}
          <div><a href="{{ .URL | absURL }}">{{ .Name }}</a></div>
        {{ end -}}
      </div>

      <div class="col-lg">
        <div class="font-weight-bold"><a href="/about">About</a></div>
        <div><a href="/faq">FAQ</a></div>
        <div><a href="/contribute">Code of Conduct</a></div>
      </div>

      <div class="col-lg">
        <div class="font-weight-bold"><a href="/contact">Contact</a></div>
        <div><a href="https://owncast.rocket.chat/">Rocket.Chat</a></div>
        <div><a href="https://github.com/owncast/owncast/issues/new/choose">GitHub</a></div>
      </div>      

      <div class="col-lg">
        <div class="font-weight-bold"><a href="/demo">Demo</a></div>
        <div><a href="https://watch.owncast.online">Watch</a></div>
        <div><a href="https://broadcast.owncast.online">Broadcast</a></div>
        <div><a href="https://directory.owncast.online">Directory</a></div>
      </div>

        <!-- <ul class="list-inline">
          <li class="list-inline-item">{{ .Site.Params.footer | safeHTML }}</li>
        </ul>
      </div> -->
      <!-- <div class="col-lg-8 order-first order-lg-last text-lg-right">
        <ul class="list-inline">
          {{ range .Site.Menus.footer -}}
            <li class="list-inline-item"><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
          {{ end -}}
        </ul>
      </div> -->
    </div>

    
  
  </div>
</footer>