<footer class="footer text-muted footer-container">
  <ul class="col-sm">
    <li><a href="/about">About</a></li>
    <li><a href="/faq">FAQ</a></li>
    <li><a href="https://videos.owncast.online">Videos</a></li>
    <li><a href="/contribute">Code of Conduct</a></li>
    <li><a href="/contact">Contact</a></li>
    </ul>

  <ul class="col-sm">
    <li><a href="/contact">Contact</a></li>
    <li><a href="https://owncast.rocket.chat/">Rocket.Chat</a></li>
    <li><a href="https://github.com/owncast/owncast/issues/new/choose">GitHub</a></li>
    <li><a href="https://opencollective.com/owncast/donate">Donate</a></li>
  </ul>

  <ul class="col-sm">
    <li><a href="/demo">Demo</a></li>
    <li><a href="https://watch.owncast.online">Watch</a></li>
    <li><a href="https://broadcast.owncast.online">Broadcast</a></li>
    <li><a href="https://directory.owncast.online">Directory</a></li>
  </ul>

  <span class="footer-logo-container" aria-hidden="true">
    <img src="/images/logo.svg" alt="">
  </span>
</footer>