@media (prefers-color-scheme: dark) {
    body, .book-menu nav, .book-search input {
        background: #121212;
        color: #efefef;
    }

    .book-brand {
        filter: drop-shadow(0 0 5px rgba(138, 74, 242, 0.5));
    }
    figure.glow {
        filter: drop-shadow(0 0 20px rgba(138, 74, 242, 0.2));
    }
    
    .book-menu nav a.active, .book-toc a, .markdown a.book-btn, .markdown a.book-btn:visited {
        color: rgb(92, 179, 255);
    }

    aside nav ul a:hover {
        &:hover {
            opacity: 0.8;
        }
    }

    .book-search input {
        border: 1px solid #efefef;
    }
    
    .markdown {
        a {
            color: rgb(92, 179, 255);
            &:active, &:visited {
                color: rgb(138, 74, 242);
            }
        }
    
        code {
            background-color: #2f3334;
        }
    }

    
    .book-icon {
        filter: invert(1);
    }

    .version-support {
        color: white;
    }
}

h1#owncast {
    text-align: center;
    font-size: 4rem;
    margin-top: 0.5em;

    a.anchor {
        display: none !important;
    }
}

figure.glow {
    margin-top: 2rem;
}

.version-support {
    padding: 2px;
    font-size: 10px;
}

.github-issue-link {
    font-size: 12px;
}


.book-toc {
    border-left: 1px solid rgba(90,103,216,.25);
    font-size: .85em;
    nav {
        padding-top: 3em;
    }
}
.book-page {
    padding-top: 0em
}
.markdown h1,
.markdown h2,
.markdown h3 {
    font-weight: 600;
    padding: .25em 0;
    line-height: 1.2;
    a {
        opacity: .75;
        &:hover {
            opacity: 1;
        }
        &:first-child:not(.anchor) {
            &::after {
                content: '🔗';
                font-size: .65em;
                vertical-align: middle;
                display: inline-block;
                margin-left: .6em;
            }
        }
    }
}

.markdown h1 {
    color: #392a99;
    border-bottom: 1px solid rgba(90,103,216,.15);
    background-color: #eee;
    padding: .35em;
    padding-top: 2em;

    a,
    a:visited {
        color: #392a99;
    }
    @media (prefers-color-scheme: dark) {
        color: #fff;
        background-color: #0c0918;
        a,
        a:visited {
            color: #fff;
        }
    }    
}
.markdown h2 {
    color: rgba(90,103,216,1);
    border-bottom: 1px solid rgba(90,103,216,.75);
    a,
    a:visited {
        color:  rgba(90,103,216,1);
    }
}
.markdown h3 {
    font-size: 1.25em;
    color: rgba(90,103,216,.85);
    a {
        color: rgba(90,103,216,.8);
    }
}
// hack a heading on top of the "Blog" page
article.book-post:first-of-type {
    &::before {
        content: 'Releases';
        font-size: 1.8em;
        font-weight: 600;
        display: inline-block;
        padding: 1em 0;
        color:  #392a99;
        @media (prefers-color-scheme: dark) {
            color: #fff;
        }
    }
}
