.sponsors {
  background: linear-gradient(30deg, #311c88 1%, #15132b);
  padding: 2rem 1rem;
  color: rgba(255, 255, 255, 0.7);
}

.sponsorsList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.sponsorsList li {
  margin: 0 1rem;
  list-style-type: none;
}

.sponsorsList img {
  height: 2.5rem;
  margin: 0.5rem;
  transition: filter 0.2s;
}

.sponsorsList img:hover {
  filter: drop-shadow(0.2rem 0.2rem 0.4rem rgba(255, 255, 255, 0.5));
}
