{{ define "main" }}
<section class="section xcontainer-fluid pb-3 hero-container">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <img width="20%" src="/images/logo.svg" />
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">A self-hosted live video and web chat server for use with existing popular broadcasting software.</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ "quickstart/" | absURL }}" role="button">Get started</a>
    </div>
    <figure class="col-lg-12 text-center">
      <a href="/images/owncast-screenshot.png" title="Owncast Screenshot">
        <script>
          function screenshotLoad() {
            document.getElementById('owncastScreenshot').style.removeProperty('background-color');
          }
        </script>

        <img src="/images/owncast-screenshot.png" alt="Owncast Screenshot" width="100%" loading="lazy" id="owncastScreenshot" style="aspect-ratio: 16 / 9; background-color: #e2e8f0;" onload="screenshotLoad()" />
      </a>
    </figure>
  </div>
</section>

<section class="section section-sm key-points-container">
  <div class="container row justify-content-center">
    <div class="row justify-content-center text-center col-lg-8 col-sm-16">
      <div class="col-md-8 col-sm-16 key-point-item">
        <span class="key-icon mask" aria-hidden="true" style="-webkit-mask-image: url('/images/key-selfhosted.svg');mask-image: url('/images/key-selfhosted.svg')"></span>

        <h2>Self hosted</h2>
        <p>Why  self-hosted live video is great. If you're currently streaming it's likely you can point your <a href="/docs/broadcasting">existing video software</a> at your Owncast server and be ready to go.  <a href="/demo">Try it!</a></p>
      </div>
      <div class="col-md-8 col-sm-16 key-point-item">
        <span class="key-icon mask" aria-hidden="true" style="-webkit-mask-image: url('/images/key-chat.svg');mask-image: url('/images/key-chat.svg')"></span>
        <h2>Chat Stuff</h2>
        <p>The power the web chat server. Owncast works with <a href="/docs/storage/"
            title="Storage providers | Owncast Docs">different storage providers</a> to optionally scale your videos to many viewers using only low-powered hardware.
        </p>
      </div>
    </div>
    <div class="row justify-content-center text-center col-lg-8 col-sm-16">
      <div class="col-md-8 col-sm-16 key-point-item">
        <span class="key-icon mask" aria-hidden="true" style="-webkit-mask-image: url('/images/key-videosoftware.svg');mask-image: url('/images/key-videosoftware.svg')"></span>
        <h2>Works with Software</h2>
        <p>Use with existing popular broadcasting software. The Owncast community is vibrant and always ready to help. <a href="/contact">Visit us</a> for support or if you just want to hang out.</p>
      </div>
      <div class="col-md-8 col-sm-16 key-point-item">
        <span class="key-icon mask" aria-hidden="true" style="-webkit-mask-image: url('/images/key-storage.svg');mask-image: url('/images/key-storage.svg')"></span>
        <h2>Storage</h2>
        <p>Owncast is licensed under the <a href="https://choosealicense.com/licenses/mit/" title="MIT license">MIT license</a>,
          so you can use it freely to build anything you like.  Even better, you can extend the functionality of your Owncast server with <a href="/thirdparty">3rd party APIs</a>.
        </p>
      </div>
    </div>
  </div>
</section>

{{ end }}

{{ define "sidebar-prefooter" }}
<section id="quotes" class="section section-sm text-center testimonials-container">
  <h2>Quote section</h2>
  These people love us! ...
</section>

<!-- Live now list -->
<section id="container-live-now" class="section section-sm text-center live-now-container">
  <h2>Streams live right now</h2>
  <div class="stream-list-holder scrollbar-hidden">
  <ul id="stream-list" role="list">
  </ul>
</div>
  Visit the <a href="https://directory.owncast.online">Owncast Directory</a> to see more examples when they're streaming.
</section>
{{ end }}

{{ define "sidebar-footer" }}
<!-- Contributors list -->
<section class="section section-sm container-contributors text-center contributors-container">
  {{- .Content -}}
</section>

<script>
  async function getDirectory() {
    const response = await fetch('https://yp.owncast.online/active', {
      mode: "cors", // same-origin, no-cors
    });
    const streams = await response.json();
    if (!streams.length) {
      return;
    }
    const reflex = () => {
      const list = document.getElementById("stream-list");
      if (list.clientWidth > window.innerWidth) {
        list.parentElement.style.justifyContent = 'flex-start';
      } else {
        list.parentElement.style.justifyContent = 'center';
      }
    }
    window.addEventListener('resize', reflex);
    document.getElementById('container-live-now').style.display = "block";
    const container = document.getElementById("stream-list");
    streams.forEach(function(stream) {
      const listItem = document.createElement("li");
      listItem.className="stream-item";
      
      const itemMarkup = '<a href="'+ stream.url +'" target="_blank">' + 
        '<img src="https://yp.owncast.online/image/thumb/' + stream.id +'" loading="lazy" aspect-ratio="16 / 9" alt="See '+ stream.name +'&apos; stream." />' +
        '<span class="stream-name">'+ stream.name +'</span>' +
      '</a>';

      listItem.innerHTML = itemMarkup;
      container.appendChild(listItem);
    });
    reflex();
    
  }
  getDirectory();
</script>
{{ end }}
