{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">Selfhosted video livestreams.<br />Point your live stream at a server you personally control and regain
        ownership over your content.</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ "quickstart/" | absURL }}" role="button">Get started</a>
    </div>
    <figure class="col-lg-12 text-center">
      <a href="/images/owncast-screenshot.png" title="Owncast Screenshot">
        <script>
          function screenshotLoad() {
            document.getElementById('owncastScreenshot').style.removeProperty('background-color');
          }
        </script>

        <img src="/images/owncast-screenshot.png" alt="Owncast Screenshot" width="100%" loading="lazy" id="owncastScreenshot" style="aspect-ratio: 16 / 9; background-color: #e2e8f0;" onload="screenshotLoad()" />
      </a>
    </figure>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <!-- <div class="col-lg-5">
        <h2 class="h4">Security aware</h2>
        <p>Get A+ scores on <a href="https://observatory.mozilla.org/analyze/doks.netlify.app">Mozilla Observatory</a> out of the box. Easily change the default Security Headers to suit your needs.</p>
      </div> -->
      <div class="col-lg-5">
        <h2 class="h4">Works with open standards</h2>
        <p>Owncast uses the RTMP protocols which means that your video mixer probably <a
            href="/docs/broadcasting/">already works</a> with Owncast.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Scalable Infrastructure</h2>
        <p>Owncast can work with <a href="/docs/storage/"
            title="Storage providers | Owncast Docs">different storage providers</a> to serve your videos to hundreds of users!
        </p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Open Community</h2>
        <p>The Owncast community is vibrant and always ready to help. Check out our <a
            href="https://github.com/owncast/owncast/issues">Issues board</a> and our <a
            href="https://owncast.rocket.chat">RocketChat</a>.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Permissive License</h2>
        <p>Owncast is licensed under the <a href="https://choosealicense.com/licenses/mit/" title="MIT license">MIT license</a>,
          so you can use it freely.
        </p>
      </div>
      <!-- <div class="col-lg-5">
                          <h2 class="h4">Security aware</h2>
                          <p>Get A+ scores on <a href="https://observatory.mozilla.org/analyze/doks.netlify.app">Mozilla Observatory</a> out of the box. Easily change the default Security Headers to suit your needs.</p>
                        </div> -->
    </div>
    <div>
      <h1><center>Streams live right now</center></h1>
      <div id="stream-list">
      </div>
      <center>Visit the <a href="https://directory.owncast.online">Owncast Directory</a> to see more examples when they're streaming.</center>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>

<script>
  const url = 'https://yp.owncast.online/active';
  getDirectory();

  async function getDirectory() {
    const response = await fetch(url, {
      mode: "cors", // same-origin, no-cors
    });
    const streams = await response.json();
    // console.log(streams);

    const container = document.getElementById("stream-list");
    streams.forEach(function(stream) {
      var node = document.createElement("a");
      node.href = stream.url;
      var img = document.createElement("img");
      img.className = 'stream-item';
      img.src = 'https://yp.owncast.online/image/thumb/' + stream.id;
      img.style.setProperty("aspect-ratio", "16 / 9");
      img.loading = "lazy";
      
      node.appendChild(img);

      container.appendChild(node)
    });
  }
</script>
{{ end }}
