{{ $type := .Get "type" | default "year" }}
{{ $currentYear := now.Year }}


{{ if eq $type "image" }}
   <a href="https://hacktoberfest.com">
       <img src="../images/hacktoberfest.png" alt="hacktoberfest {{ $currentYear }} logo" width="80%"/>
   </a>
{{ else if eq $type "registration" }}
   Register for <a href="https://hacktoberfest.com/participation/">Hacktoberfest {{ $currentYear }}</a> starting between end September and early October.
{{ else if eq $type "year" }}
   {{ $currentYear }}
{{ end }}
