.admonition {
  margin-bottom: 1em;
}

.admonitionHeading {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font: var(--ifm-heading-font-weight) var(--ifm-h5-font-size) /
    var(--ifm-heading-line-height) var(--ifm-heading-font-family);
  text-transform: uppercase;
}

/* Heading alone without content (does not handle fragment content) */
.admonitionHeading:not(:last-child) {
  margin-bottom: 0.5rem;
}

.admonitionHeading code {
  text-transform: none;
}

/* Owncat mascot icon */
.owncatIcon {
  width: 2rem;
  height: auto;
  flex-shrink: 0;
  transition: transform 0.2s ease;
}

.admonition:hover .owncatIcon {
  transform: scale(1.1) rotate(5deg);
}

.admonitionTitle {
  color: var(--ifm-alert-foreground-color);
}

.admonitionIcon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4em;
}

.admonitionIcon svg {
  display: inline-block;
  height: 1.6em;
  width: 1.6em;
  fill: var(--ifm-alert-foreground-color);
}

.admonitionContent > :last-child {
  margin-bottom: 0;
}
