table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px;
  border: 1px solid rgba(26, 4, 63, 0.5);
}

th,
td {
  text-align: left;
  padding: 8px;
  font-size: 0.9rem;
  border-bottom: 1px solid rgba(26, 4, 63, 0.363);
}

tr:nth-child(even) {
  background-color: rgba(183, 175, 233, 0.158);
}

#stream-list {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
}

.stream-item {
  height: 130px;
  margin: 15px;
  img {
  }
}

.docs-content {
  li {
    margin-bottom: 15px;
  }
}

// "Card" links
.card-list,
.docs-navigation {
  .card {
    border-color: rgba(182, 139, 231, 0.562);
  }
}

h1,
.h1 {
  color: $pink-500;
  font-size: 2.2em;
}
h2,
.h2,
h3,
.h3 {
  color: $pink-500;
}

.home > .container {
  // max-width: unset;
}
.container-contributors {
  background-color: $owncast-purple-dark;
  h2 {
    color: $gray-100;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.container-live-now {
  background-color: black;
  padding-bottom: 2em;
  ul#stream-list {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 1em 0;
  }
  li.stream-item {
    list-style-type: none;
    position: relative;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.01);
    background-color: $owncast-purple-25;
    margin: 1em;
    &:hover {
      border-color: rgba(255, 255, 255, 0.5);
      transition: border 0.25s;
      .stream-name {
        background-color: rgba(0, 0, 0, 1);
      }
    }

    &::after {
      position: absolute;
      display: inline-block;
      background-color: $red;
      content: "LIVE";
      padding: 1px 5px;
      border-radius: 4px;
      top: 10px;
      left: 10px;
      font-size: 11px;
      font-weight: 500;
      letter-spacing: 1px;
      color: $white;
    }

    img {
      display: block;
      width: 254px;
      height: 142px;
      border-radius: 4px;
    }
    .stream-name {
      position: absolute;
      display: inline-block;
      bottom: -1.25em;
      left: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.75);
      text-align: right;
      padding: 5px 10px;
      font-size: $font-size-xs;
      text-transform: uppercase;
      color: $owncast-pink-dark;
      transition: background-color 0.2s;
    }
  }
}
