/** Theme variables */

// Source: https://material.io/design/color/dark-theme.html

$body-bg-dark: $gray-900;
$body-overlay-dark: darken($body-bg-dark, 2.5%);
$border-dark: darken($body-bg-dark, 2.5%);
$body-color-dark: $gray-300;
$dots-dark: darken($body-color-dark, 50%);

$link-color-dark: $purple; // $blue-300;
$button-color-dark: $link-color-dark;
$focus-color-dark: lighten($link-color-dark, 2.5%);
$selection-color-dark: lighten($link-color-dark, 2.5%);

$navbar-dark-color:                 $body-color-dark;
$navbar-dark-hover-color:           $link-color-dark;
$navbar-dark-active-color:          $link-color-dark;

/** Theme styles */
@media(prefers-color-scheme: dark) {
  body {
    background: $body-bg-dark;
    color: $body-color-dark;
  }

  body a {
    color: $link-color-dark;

    &:hover {
      color: $link-color-dark;
    }
  }

  body a.text-body {
    color: $body-color-dark !important;
  }

  body .btn-primary {
    @include button-variant($button-color-dark, $button-color-dark);

    color: $body-bg-dark !important;
  }

  body .navbar {
    background: $black; // $body-bg-dark;
    opacity: 0.975;
    border-bottom: 1px solid $border-dark;
  }

  // body.home .navbar {
  //   border-bottom: 0;
  // }

  body .navbar-light .navbar-brand {
    color: $navbar-dark-color !important;
  }

  body .navbar-light .navbar-nav .nav-link {
    color: $navbar-dark-color;
  }

  body .navbar-light .navbar-nav .nav-link:hover,
  body .navbar-light .navbar-nav .nav-link:focus {
    color: $navbar-dark-hover-color;
  }

  body .navbar-light .navbar-nav .nav-link.disabled {
    color: $navbar-dark-disabled-color;
  }

  body .navbar-light .navbar-nav .show > .nav-link,
  body .navbar-light .navbar-nav .active > .nav-link,
  body .navbar-light .navbar-nav .nav-link.show,
  body .navbar-light .navbar-nav .nav-link.active {
    color: $navbar-dark-active-color;
  }

  body .navbar-light .navbar-text {
    color: $navbar-dark-color;
  }

  body .alert-primary a {
    color: $body-bg-dark;
  }

  body .alert-warning {
    background: $body-overlay-dark;
    color: $body-color-dark;
  }

  body .page-links a {
    color: $body-color-dark;
  }

  body .showcase-meta a {
    color: $body-color-dark;
  }

  body .showcase-meta a:hover,
  body .showcase-meta a:focus {
    color: $link-color-dark;
  }

  body .docs-link:hover,
  body .docs-link.active,
  body .page-links a:hover {
    text-decoration: none;
    color: $link-color-dark;
  }

  body .navbar-light .navbar-text a {
    color: $navbar-dark-active-color;
  }

  body .docs-links h3.sidebar-link a,
  body .page-links h3.sidebar-link a {
    color: $body-color-dark;
  }

  body .navbar-light .navbar-text a:hover,
  body .navbar-light .navbar-text a:focus {
    color: $navbar-dark-active-color;
  }

  body .navbar .btn-link {
    color: $navbar-dark-color;
  }

  body .content .btn-link {
    color: $link-color-dark;
  }

  body .content .btn-link:hover {
    color: $link-color-dark;
  }

  body .navbar .btn-link:hover {
    color: $navbar-dark-hover-color;
  }

  body .navbar .btn-link:active {
    color: $navbar-dark-active-color;
  }

  body .form-control.is-search {
    background: $body-overlay-dark;

    /*
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%236c757d' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    */
  }

  body .navbar-form::after {
    color: $gray-700;
    border: 1px solid $body-bg-dark;
  }

  body .form-control:focus {
    box-shadow: 0 0 0 0.2rem $focus-color-dark;
  }

  body .border-top {
    border-top: 1px solid $border-dark !important;
  }

  @include media-breakpoint-up(lg) {
    body .docs-sidebar {
      order: 0;
      border-right: 1px solid $border-dark;
    }
  }

  body .docs-navigation {
    border-top: 1px solid $border-dark;
  }

  body ::selection {
    background: $selection-color-dark;
  }

  body pre {
    background: $body-overlay-dark;
    color: $body-color-dark;
  }

  body code {
    background: $body-overlay-dark;
    color: $body-color-dark;
  }

  body blockquote {
    border-left: 3px solid $border-dark;
  }

  body .footer {
    border-top: 1px solid $border-dark;
  }

  body .docs-links,
  body .docs-toc {
    scrollbar-width: thin;
    scrollbar-color: $body-bg-dark $body-bg-dark;
  }

  body .docs-links::-webkit-scrollbar,
  body .docs-toc::-webkit-scrollbar {
    width: 5px;
  }

  body .docs-links::-webkit-scrollbar-track,
  body .docs-toc::-webkit-scrollbar-track {
    background: $body-bg-dark;
  }

  body .docs-links::-webkit-scrollbar-thumb,
  body .docs-toc::-webkit-scrollbar-thumb {
    background: $body-bg-dark;
  }

  body .docs-links:hover,
  body .docs-toc:hover {
    scrollbar-width: thin;
    scrollbar-color: $border-dark $body-bg-dark;
  }

  body .docs-links:hover::-webkit-scrollbar-thumb,
  body .docs-toc:hover::-webkit-scrollbar-thumb {
    background: $border-dark;
  }

  body .docs-links::-webkit-scrollbar-thumb:hover,
  body .docs-toc::-webkit-scrollbar-thumb:hover {
    background: $border-dark;
  }

  body .docs-links h3:not(:first-child) {
    border-top: 1px solid $border-dark;
  }

  body a.docs-link {
    color: $body-color-dark;
  }

  body .page-links li:not(:first-child) {
    border-top: 1px dashed $border-dark;
  }

  body .card {
    background: $body-bg-dark;
    border: 1px solid $border-dark;
  }

  body .card.bg-light {
    background: $body-overlay-dark !important;
  }

  body .navbar .menu-icon .navicon {
    background: $navbar-dark-color;
  }

  body .navbar .menu-icon .navicon::before,
  body .navbar .menu-icon .navicon::after {
    background: $navbar-dark-color;
  }

  body .logo-light {
    display: none !important;
  }

  body .logo-dark {
    display: inline-block !important;
  }

  body .bg-light {
    background: darken($body-bg-dark, 1.5%) !important;
  }

  body .bg-dots {
    background-image: radial-gradient($dots-dark 15%, transparent 15%);
  }

  body .text-muted {
    color: darken($body-color-dark, 7.5%) !important;
  }

  body .alert-primary {
    background: $link-color-dark;
    color: $body-bg-dark;
  }

  body .figure-caption {
    color: $body-color-dark;
  }
}
