

/* poppins-100 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src:
    local("Poppins"),
    url("/fonts/vendor/poppins/poppins-latin-100.woff2") format("woff2"),
    url("/fonts/vendor/poppins/poppins-latin-100.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* poppins-200 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src:
    local("Poppins"),
    url("/fonts/vendor/poppins/poppins-latin-200.woff2") format("woff2"),
    url("/fonts/vendor/poppins/poppins-latin-200.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    local("Poppins"),
    url("/fonts/vendor/poppins/poppins-latin-300.woff2") format("woff2"),
    url("/fonts/vendor/poppins/poppins-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Poppins"),
    url("/fonts/vendor/poppins/poppins-latin-400.woff2") format("woff2"),
    url("/fonts/vendor/poppins/poppins-latin-400.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local("Poppins"),
    url("/fonts/vendor/poppins/poppins-latin-500.woff2") format("woff2"),
    url("/fonts/vendor/poppins/poppins-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("Poppins"),
    url("/fonts/vendor/poppins/poppins-latin-700.woff2") format("woff2"),
    url("/fonts/vendor/poppins/poppins-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
















// ITALIC
/* poppins-700italic - latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src:
    local("Poppins"),
    url("/fonts/vendor/poppins/poppins-latin-italic-300.woff2") format("woff2"),
    url("/fonts/vendor/poppins/poppins-latin-italic-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-italic - latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local("Poppins"),
    url("/fonts/vendor/poppins/poppins-latin-italic-400.woff2") format("woff2"),
    url("/fonts/vendor/poppins/poppins-latin-italic-400.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-500italic - latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    local("Poppins"),
    url("/fonts/vendor/poppins/poppins-latin-italic-500.woff2") format("woff2"),
    url("/fonts/vendor/poppins/poppins-latin-italic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


